@import "tailwindcss";

html,
body,
app-root {
  height: 100%;
  width: 100%;
  display: flex;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
